.timer {
  font-style: italic;
  margin-bottom: 20px;
  color: rgb(153,206,167); 
}

.category-header {
  background-color: rgb(153,206,167); 
  font-size: 1.2em;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 6px;
}

.column-header {
  background-color: white;
  font-size: 1.1em;
}

.items-table {
  margin-bottom: 20px;
}

.item-description{
  max-width: 400px;
  text-overflow: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

div.description {
  font-weight: normal;
  font-size: .9em;
  padding: 5px 0 5px 0;
  max-width: 400px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  flex-grow: 1;
  margin: 15px 30px 15px 20px;
}

.partner-container {
  max-width: 625px;
}

.partner-table {
  table-layout:fixed;
  width: 525px;
  margin-bottom: 30px;
}

.partner-row {
  text-align: center;
  height: 50px;
}

.edit-partner-span {
  color: white;
  position: relative;
  margin: 0 3px;
  padding: 3px;
  background-color: #696969;
  top: 8px;
  border: 1px solid #696969;
  border-radius: 7px;
  cursor: pointer; 
}

.edit-partner-span:hover{
  background-color: #474747;
}

.checkout-form {
  margin-bottom: 70px;
}

.checkout-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.amount {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.submit-button {
  background-color: rgb(133,208,164);
  background-image: none;
  text-shadow: .5px .5px .5px rgba(0,0,0,.9);
  border: 1px solid rgb(133,208,164);
}

.submit-button:not(.disabled):hover {
  background-color: rgb(113,188,144);
  background-image: none;
}

.conversions-container {
  margin-bottom: 100px;
}

.show-hide-exchanges {
 margin-bottom: 15px;
 cursor: pointer;
}

.partnerships-title {
  font-family: 'Josefin Sans', sans-serif;
}

.transaction-complete {
  text-align: center;
  margin-top: 100px;
}

.transaction-complete-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.return-home-button {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(133,208,164);
  background-image: none;
  text-shadow: .5px .5px .5px rgba(0,0,0,.9);
  border: 1px solid rgb(133,208,164);
}

.return-home-button:not(.disabled):hover {
  background-color: rgb(113,188,144);
  background-image: none;
}