nav {
  width: 100vw; 
  height: 30px; 
  background-color: white; 
  padding: 20px 40px 20px 40px;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 1px 8px #b7b7b7;
  overflow-wrap: break-word;
}
  nav a:link {
    color: rgb(66, 51, 57);
    float: right;
    margin-right: 70px;
    text-decoration: none;
    font-size: 1.4em;
 }
 nav a:visited {
    color: rgb(66, 51, 57);
    text-decoration: none;
 }
  nav a:hover {
    color: rgb(153,206,167);
}  

.title {
  color: rgb(66, 51, 57);
  top: 20px;
  font-size: 1.6em;
  vertical-align: center;
  overflow-wrap: break-word;

}  

.title-small {
  color:white;
}

@media (max-width: 600px) {
    nav {
      padding: 20px 40px 20px 10px;
    }
}


